@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
header {
  display: flex;
  position: relative;
}
header .ger {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
header .ger .logo {
  color: black;
  font-size: 25px;
  font-weight: 800;
}
header .ger .ger label {
  cursor: pointer;
  display: none;
}
header .ger .ger label .ger-icono {
  width: 25px;
}
header .header-info {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 100px;
}
@media screen and (max-width: 991px) {
  header .header-info {
    flex-direction: column;
    padding: 30px;
  }
}
header .header-txt {
  width: 100%;
  padding-left: 100px;
  margin-block: 200px;
  text-align: center;
}
@media screen and (max-width: 991px) {
  header .header-txt {
    width: 100%;
    text-align: center;
    padding: 0;
  }
}
header .header-txt .h1 {
  font-weight: 600;
  color: black;
  margin-bottom: 25px;
  text-transform: capitalize;
}
@media screen and (max-width: 991px) {
  header .header-txt .h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
header .header-txt .h1 .h2 {
  font-size: 25px;
  color: grey;
  margin-bottom: 35px;
}
header .header-txt .h1 .h2 .icono {
  display: inline-block;
  background-color: goldenrod;
  padding: 13px 30px;
  border-radius: 25px;
  color: ghostwhite;
  text-transform: capitalize;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
header .header-txt .h1 .h2 .icono__hover {
  background-color: peru;
}

.header-img {
  width: 50%;
}
@media screen and (max-width: 991px) {
  .header-img {
    width: 100%;
    text-align: center;
    padding-top: 35px;
  }
}
.header-img .img {
  width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
@media screen and (max-width: 991px) {
  .header-img .img {
    width: 300px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.container .ger .navbar .ul .li {
  position: relative;
  float: left;
}
.container .ger .navbar .ul .li .a {
  font-size: 18px;
  padding: 20px;
  display: block;
  font-weight: 600;
}

.infos {
  padding: 80px 0;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .infos {
    padding: 30px;
    text-align: center;
  }
}
.infos .h2 {
  font-size: 45px;
  color: black;
  margin-bottom: 30px;
}
.infos .h2 .p {
  font-size: 18px;
  color: grey;
  margin-bottom: 70px;
  padding: 0 200px;
}
@media screen and (max-width: 991px) {
  .infos .h2 .p {
    padding: 0;
    margin-bottom: 40px;
  }
}
.infos .info-servicios {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 3rem;
}
@media screen and (max-width: 991px) {
  .infos .info-servicios {
    grid-template-columns: repeat(1, 1fr);
    padding: 30px;
  }
}
.infos .info-servicios .info {
  padding-bottom: 35px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}
.infos .info-servicios .info .img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
@media screen and (max-width: 991px) {
  .infos .info-servicios .info .img {
    width: 300px;
  }
}
.infos .info-servicios .info .h3 {
  font-size: 20px;
  color: black;
  margin-top: 15px;
}
.infos .info-servicios .info .h3 .p {
  font-size: 16px;
  padding: 30px;
  color: grey;
  margin: 0;
}
@media screen and (max-width: 991px) {
  .infos .info-servicios .info .h3 .p {
    padding: 30px;
  }
}

.footer {
  background-color: rgb(161, 89, 7);
  padding: 100px 0;
}
.footer .footer-links {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}
.footer .footer-links .redes .img {
  margin-right: 10px;
  width: 20px;
  display: inline-block;
}

.productos {
  padding: 80px 0;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .productos {
    padding: 30px;
    text-align: center;
  }
}
.productos .h2 {
  color: black;
  margin-bottom: 30px;
}
@media screen and (max-width: 991px) {
  .productos .h2 {
    font-size: 40px;
  }
}
.productos .h2 .p {
  font-size: 18px;
  color: grey;
  margin-bottom: 70px;
}
@media screen and (max-width: 991px) {
  .productos .h2 .p {
    padding: 0;
    margin-bottom: 40px;
  }
}
.productos .producto-info {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 3rem;
}
@media screen and (max-width: 991px) {
  .productos .producto-info {
    grid-template-columns: repeat(1, 1fr);
  }
}
.productos .producto-info .producto {
  padding-bottom: 35px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}
.productos .producto-info .producto .img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
@media screen and (max-width: 991px) {
  .productos .producto-info .producto .img {
    width: 300px;
  }
}
.productos .producto-info .producto .img .h3 {
  font-size: 40px;
  color: black;
  margin-top: 15px;
}
.productos .producto-info .producto .img .h3 .p {
  font-size: 18px;
  padding: 30px;
  color: gray;
  margin: 0;
}
.productos .producto-info .producto .img .h3 .p .a {
  background-color: goldenrod;
  padding: 10px;
  color: white;
  border-radius: 15px;
}
.productos .producto-info .producto .img .h3 .p .a .hover {
  background-color: peru;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.servicios {
  padding: 80px 0;
  text-align: center;
}
.servicios .h2 {
  font-size: 40px;
  color: black;
  margin-bottom: 30px;
}
.servicios .h2 .p {
  font-size: 18px;
  color: grey;
  margin-bottom: 70px;
  padding: 0 200px;
}
.servicios .servicio-info {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 3rem;
}
.servicios .servicio-info .servicio {
  padding-bottom: 35px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}
.servicios .servicio-info .servicio .img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.servicios .servicio-info .servicio .img .h3 {
  font-size: 40px;
  color: black;
  margin-top: 15px;
}
.servicios .servicio-info .servicio .img .h3 .p {
  font-size: 18px;
  padding: 30px;
  color: gray;
  margin: 0;
}
.servicios .servicio-info .servicio .img .h3 .p .a {
  background-color: goldenrod;
  padding: 10px;
  color: white;
  border-radius: 15px;
}
.servicios .servicio-info .servicio .img .h3 .p .a .a:hover {
  background-color: rgb(192, 145, 14);
}

.card img {
  border-radius: 25px 25px 0 0;
  height: 280px;
}

/*# sourceMappingURL=style.css.map */
