@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
header {
  display: flex;
  position: relative;
}
header .ger {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  padding: 30px;
}
@media screen and (max-width: 480px) {
  header .ger {
    margin: 0px;
    padding: 0px;
  }
}
header .ger .logo {
  color: rgb(192, 145, 14);
  font-size: 25px;
  font-weight: 800;
  padding: 30px;
}
header .ger .label {
  cursor: pointer;
  display: none;
}
header .ger .label .icono {
  width: 25px;
}
header .header-info {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 100px;
}
@media screen and (max-width: 991px) {
  header .header-info {
    flex-direction: column;
    padding: 30px;
  }
}
@media screen and (max-width: 480px) {
  header .header-info {
    flex-direction: column;
    padding: 0px;
    width: 250px;
  }
}
header .header-txt {
  width: 100%;
  margin-block: 200px -100px;
  text-align: center;
}
@media screen and (max-width: 991px) {
  header .header-txt {
    width: 100%;
    text-align: center;
    padding: 30px;
    margin-block: 200px -185px;
  }
}
@media screen and (max-width: 550px) {
  header .header-txt {
    width: 100%;
    text-align: center;
    padding: 0;
    margin-block: 200px -205px;
  }
}
header .header-txt .h1 {
  font-weight: 600;
  color: black;
  margin-bottom: 25px;
  text-transform: capitalize;
}
@media screen and (max-width: 991px) {
  header .header-txt .h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
header .header-txt .h1 .h2 {
  font-size: 25px;
  color: grey;
  margin-bottom: 35px;
}
header .header-txt .h1 .h2 .masinfo {
  display: inline-block;
  background-color: rgb(192, 145, 14);
  padding: 13px 30px;
  border-radius: 25px;
  color: grey;
  text-transform: capitalize;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.header-img {
  width: 50%;
  display: flex;
}
@media screen and (max-width: 991px) {
  .header-img {
    width: 100%;
    text-align: center;
    padding-top: 35px;
    flex-direction: column;
    padding: 30px;
  }
}
.header-img .img {
  margin: 50px;
  width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
@media screen and (max-width: 991px) {
  .header-img .img {
    width: 80%;
    margin-block: 200px -18px;
  }
}
@media screen and (max-width: 480px) {
  .header-img .img {
    margin: 0;
    width: 100%;
    margin-block: 200px 25px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.container .ger .navbar .ul .li {
  position: relative;
  float: left;
  color: rgb(216, 122, 15);
}
.container .ger .navbar .ul .li .a {
  font-size: 18px;
  padding: 20px;
  display: block;
  font-weight: 600;
}

.infos {
  padding: 80px 0;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .infos {
    padding: 30px;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .infos {
    padding: 0px;
    text-align: center;
  }
}
.infos .infos h2 {
  font-size: 45px;
  color: black;
  margin-bottom: 30px;
}
@media screen and (max-width: 991px) {
  .infos .infos h2 {
    font-size: 40px;
  }
}
.infos .infos h2 .p {
  font-size: 18px;
  color: grey;
  margin-bottom: 70px;
  padding: 0 200px;
}
@media screen and (max-width: 991px) {
  .infos .infos h2 .p {
    padding: 0;
    margin-bottom: 40px;
  }
}
.infos .info-servicios {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 3rem;
}
@media screen and (max-width: 991px) {
  .infos .info-servicios {
    grid-template-columns: repeat(1, 1fr);
    padding: 30px;
    display: grid;
    justify-items: center;
  }
}
@media screen and (max-width: 480px) {
  .infos .info-servicios {
    padding: 0px;
  }
}
.infos .info-servicios .info {
  padding-bottom: 35px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}
@media screen and (max-width: 991px) {
  .infos .info-servicios .info {
    width: 500px;
  }
}
@media screen and (max-width: 600px) {
  .infos .info-servicios .info {
    width: 300px;
  }
}
@media screen and (max-width: 480px) {
  .infos .info-servicios .info {
    width: 250px;
  }
}
.infos .info-servicios .info .img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
@media screen and (max-width: 991px) {
  .infos .info-servicios .info .img {
    width: 300px;
  }
}
@media screen and (max-width: 480px) {
  .infos .info-servicios .info .img {
    width: 250px;
  }
}
.infos .info-servicios .info .h3 {
  font-size: 20px;
  color: black;
  margin-top: 15px;
}
.infos .info-servicios .info .h3 .p {
  font-size: 16px;
  padding: 30px;
  color: grey;
  margin: 0;
}
@media screen and (max-width: 991px) {
  .infos .info-servicios .info .h3 .p {
    padding: 30px;
  }
}

.footer {
  background-color: rgb(192, 145, 14);
  padding: 100px 0;
}
@media screen and (max-width: 991px) {
  .footer {
    padding: 30px;
  }
}
.footer .footer-links {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;
}
@media screen and (max-width: 991px) {
  .footer .footer-links {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 991px) {
  .footer .footer-links .redes {
    margin-bottom: 25px;
  }
}
.footer .footer-links .redes .img {
  margin-right: 10px;
  width: 20px;
  display: inline-block;
}
.footer .footer-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  list-style-type: none;
  color: white;
  font-size: 18px;
}
.footer .footer-menu-container .menu-item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}
.footer .copyright {
  display: flex;
  justify-content: center;
  color: white;
  opacity: 0.3;
  text-align: center;
}

.productos {
  padding: 150px 0;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .productos {
    padding: 130px 0;
    text-align: center;
    margin: 40px;
  }
}
@media screen and (max-width: 480px) {
  .productos {
    padding: 215px 0;
    text-align: center;
  }
}
.productos .h2 {
  color: black;
  margin-bottom: 30px;
}
@media screen and (max-width: 991px) {
  .productos .h2 {
    font-size: 40px;
  }
}
.productos .h2 .p {
  font-size: 18px;
  color: grey;
  margin-bottom: 70px;
}
@media screen and (max-width: 991px) {
  .productos .h2 .p {
    padding: 0;
    margin-bottom: 40px;
  }
}
.productos .producto-info {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 3rem;
}
@media screen and (max-width: 991px) {
  .productos .producto-info {
    grid-template-columns: repeat(1, 1fr);
  }
}
.productos .producto-info .producto {
  padding-bottom: 35px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}
.productos .producto-info .producto .img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
@media screen and (max-width: 991px) {
  .productos .producto-info .producto .img {
    width: 300px;
  }
}
.productos .producto-info .producto .img .h3 {
  font-size: 40px;
  color: black;
  margin-top: 15px;
}
.productos .producto-info .producto .img .h3 .p {
  font-size: 18px;
  padding: 30px;
  color: grey;
  margin: 0;
}
.productos .producto-info .producto .img .h3 .p .a {
  background-color: rgb(192, 145, 14);
  padding: 10px;
  color: white;
  border-radius: 15px;
}
.productos .producto-info .producto .img .h3 .p .a .hover {
  background-color: rgb(241, 218, 11);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.servicios {
  padding: 150px 0;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .servicios {
    padding: 150px 0;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .servicios {
    padding: 240px 0;
    text-align: center;
  }
}
.servicios .h2 {
  font-size: 40px;
  color: black;
  margin-bottom: 30px;
}
@media screen and (max-width: 991px) {
  .servicios .h2 {
    font-size: 40px;
  }
}
.servicios .h2 .p {
  font-size: 18px;
  color: grey;
  margin-bottom: 70px;
  padding: 0 200px;
}
.servicios .servicio-info {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 3rem;
}
@media screen and (max-width: 991px) {
  .servicios .servicio-info {
    grid-template-columns: repeat(1, 1fr);
    width: 500px;
  }
}
@media screen and (max-width: 550px) {
  .servicios .servicio-info {
    grid-template-columns: repeat(1, 1fr);
    width: 350px;
  }
}
.servicios .servicio-info .servicio {
  padding-bottom: 35px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .servicios .servicio-info .servicio {
    width: 98%;
  }
}
.servicios .servicio-info .servicio .img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
@media screen and (max-width: 480px) {
  .servicios .servicio-info .servicio .img {
    width: 100%;
  }
}
.servicios .servicio-info .servicio .img .h3 {
  font-size: 40px;
  color: black;
  margin-top: 15px;
}
.servicios .servicio-info .servicio .img .h3 .p {
  font-size: 18px;
  padding: 30px;
  color: grey;
  margin: 0;
}
.servicios .servicio-info .servicio .img .h3 .p .a {
  background-color: rgb(192, 145, 14);
  padding: 10px;
  color: white;
  border-radius: 15px;
}
.servicios .servicio-info .servicio .img .h3 .p .a .a:hover {
  background-color: rgb(192, 145, 14);
}

.card img {
  border-radius: 25px 25px 0 0;
  height: 280px;
  object-fit: contain;
}

.contacto {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 150px;
}
@media screen and (max-width: 991px) {
  .contacto {
    padding: 10px;
  }
}
.contacto .registro {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 50px 35px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}
@media screen and (max-width: 991px) {
  .contacto .registro {
    margin-block: 60px 0;
    width: 70%;
  }
}
@media screen and (max-width: 750px) {
  .contacto .registro {
    padding: 20px;
    width: 88%;
  }
}
.contacto .registro .h2 {
  font-size: 35px;
  color: black;
  margin: 0;
}
.contacto .registro .p {
  font-size: 16px;
  color: grey;
  margin-bottom: 35px;
}
.contacto .registro .input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 35px;
}
@media screen and (max-width: 991px) {
  .contacto .registro .input-wrapper {
    position: relative;
    width: 88%;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 550px) {
  .contacto .registro .input-wrapper {
    position: relative;
    width: 88%;
    margin-bottom: 10px;
  }
}
.contacto .registro .input-wrapper .formulario {
  color: black;
  padding: 20px 15px 20px 60px;
  width: 100%;
  border-radius: 25px;
  border: 0;
  box-shadow: 0 0 20px rgba(192, 203, 251, 0.7);
  outline: none;
  font-size: 16px;
}
@media screen and (max-width: 991px) {
  .contacto .registro .input-wrapper .formulario {
    padding: 20px 0px 20px 45px;
  }
}
.contacto .registro .input-wrapper .formulario .placeholder {
  font-size: 16px;
  color: grey;
}
.contacto .registro .input-wrapper .input-icon {
  position: absolute;
  height: 30px;
  width: 30px;
  left: 20px;
  top: 50%;
  transform: translateY(-55%);
}
@media screen and (max-width: 991px) {
  .contacto .registro .input-wrapper .input-icon {
    height: 20px;
    width: 20px;
  }
}
.contacto .registro .btn {
  padding: 20px;
  background: rgb(241, 218, 11);
  box-shadow: 0 0 20px rgba(192, 203, 251, 0.7);
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}
.contacto .registro .btn .btn:hover {
  background: rgb(192, 145, 14);
}

.text-center {
  display: flex;
  justify-content: center;
  margin-block: 140px 0;
}
.text-center .img {
  width: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  object-fit: cover;
  border-radius: 20px 20px 20px 20px;
}
@media screen and (max-width: 750px) {
  .text-center {
    width: 100%;
    justify-content: center;
    margin-block: 140px 0;
  }
}
@media screen and (max-width: 550px) {
  .text-center {
    width: 100%;
    margin-block: 212px 0;
  }
}

.parrafo {
  padding: 30px;
  text-align: center;
  font-size: 30px;
}
@media screen and (max-width: 480px) {
  .parrafo {
    font-size: 18px;
    padding: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
