
.productos {
    padding: 80px 0;
    text-align: center;

    .h2 {
        font-size: 40px;
        color: black;
        margin-bottom: 30px;

        .p {
            font-size: 18px;
            color: grey;
            margin-bottom: 70px;

        }
    }

    .producto-info {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-gap: 3rem;

        .producto {
            padding-bottom: 35px;
            text-align: center;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            border-radius: 25px;

            .img {
                width: 100%;
                height: 250px;
                object-fit: cover;
                border-radius: 25px 25px 0 0;

                .h3 {
                    font-size: 40px;
                    color: black;
                    margin-top: 15px;

                    .p {
                        font-size: 18px;
                        padding: 30px;
                        color: gray;
                        margin: 0;

                        .a {
                            background-color: goldenrod;
                            padding: 10px;
                            color: white;
                            border-radius: 15px;

                            &__hover {
                                background-color: peru;
                            }
                        }
                    }
                }
            }
        }
    }
}
