@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import"header";
@import "navbar";
@import "mixins";
@import "cards";
@import "footer";
@import "productos";







.hr {
   border: 1px solid goldenrod;
}

.formulario {
   display: flex;
   flex-direction: column;
   padding: 80px 0;
   margin-bottom: 15px;
   align-items: center;
   background-color: goldenrod;

}

.formulario input {
   margin: 10px;
}

.servicios {
   padding: 80px 0;
   text-align: center;
}

.servicios h2 {
   font-size: 40px;
   color: black;
   margin-bottom: 30px;
}

.servicios p {
   font-size: 18px;
   color: grey;
   margin-bottom: 70px;
   padding: 0 200px;
}

.servicio-info {
   max-width: 1200px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-auto-rows: auto;
   grid-gap: 3rem;
}

.servicio {
   padding-bottom: 35px;
   text-align: center;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
   border-radius: 25px;
}

.servicio img {
   width: 100%;
   height: 250px;
   object-fit: cover;
   border-radius: 25px 25px 0 0;
}

.servicio h3 {
   font-size: 40px;
   color: black;
   margin-top: 15px;
}

.servicio p {
   font-size: 18px;
   padding: 30px;
   color: gray;
   margin: 0;
}

.servicio a {
   background-color: goldenrod;
   padding: 10px;
   color: white;
   border-radius: 15px;
}

.servicio a:hover {
   background-color: peru;
}

.card img {
   border-radius: 25px 25px 0 0;
   height: 280px;
}



   

   .footer {
      padding: 30px;
   }

   .footer-links {
      flex-direction: column;
      align-items: center;
      text-align: center;
   }

   .redes {
      margin-bottom: 25px;
   }

   .productos {
      padding: 30px;
      text-align: center;
   }

   .productos h2 {
      font-size: 40px;
   }

   .productos p {
      padding: 0;
      margin-bottom: 40px;
   }

   .producto img {
      width: 300px;
   }

   .producto-info {
      grid-template-columns: repeat(1, 1fr);
   }

   .producto h3 {
      font-size: 40px;
   }

   .producto p {
      padding: 30px;
   }

   .servicios {
      padding: 30px;
      text-align: center;
   }

   .servicios h2 {
      font-size: 40px;
   }

   .servicios p {
      padding: 0;
      margin-bottom: 40px;
   }

   .servicio img {
      width: 300px;
   }

   .servicio-info {
      grid-template-columns: repeat(1, 1fr);
   }

   .servicio h3 {
      font-size: 40px;
   }

   .servicio p {
      padding: 30px;
   }
