@import "../mixins";

.servicios {
    padding: 150px 0;
    text-align: center;

    @media screen and (max-width:991px) {
        padding: 150px 0;
        text-align: center;
    }
    @media screen and (max-width:480px) {
        padding: 240px 0;
        text-align: center;
    }

    .h2 {
        font-size: 40px;
        color: $color-negro;
        margin-bottom: 30px;

        @media screen and (max-width:991px) {

            font-size: 40px;
        }

        .p {
            font-size: 18px;
            color: $color-gris;
            margin-bottom: 70px;
            padding: 0 200px;
        }
    }

    .servicio-info {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-gap: 3rem;

        @media screen and (max-width:991px) {
            grid-template-columns: repeat(1, 1fr);
            width: 500px;
        }

        @media screen and (max-width:550px) {
            grid-template-columns: repeat(1, 1fr);
            width: 350px;
        }

        .servicio {
            padding-bottom: 35px;
            text-align: center;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            border-radius: 25px;
            width: 100%;
            @media screen and (max-width:480px) {
                width: 98%;
            }

            .img {
                width: 100%;
                height: 250px;
                object-fit: cover;
                border-radius: 25px 25px 0 0;
                @media screen and (max-width:480px) {
                    width: 100%;
                }

                .h3 {
                    font-size: 40px;
                    color: $color-negro;
                    margin-top: 15px;

                    .p {
                        font-size: 18px;
                        padding: 30px;
                        color: $color-gris;
                        margin: 0;

                        .a {
                            background-color: $color-doradoos;
                            padding: 10px;
                            color: $color-blanco;
                            border-radius: 15px;

                            .a:hover {
                                background-color: $color-doradoos;
                            }
                        }
                    }
                }
            }
        }
    }
}

.card img {
    border-radius: 25px 25px 0 0;
    height: 280px;
    object-fit: contain;
}